<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data collection report</title>
    <link rel="stylesheet" href="/static/css/ViewResults.css">
</head>
<body>
    <div class="bg">
        <img src="/static/css/corn 1.jpg" alt="">
    </div>
    <div class="background">
        <form action="/showingResults" method="POST">
            <div class="btn">
              <button class="button" role="button" type="submit" value="Confirm">VIEW RESULTS</button>
            </div>
    </div>
</body>
</html>