<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm the image</title>
  <link rel="stylesheet" href="/static/css/form.css">
</head>
<body>
  <!-- <form action="/results" method="POST">
    <h1>Image Captured Succesfully</h1>
   
  </form> -->
  <form action="/RunningMacros" method="POST">
    <div class="btn">
        <button class="mybtn" role="button" type="submit" value="Confirm">Confirm</button>
    </div>
</form>
</body>
</html>
