<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seed Germination App</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="header">
        <h1>Take Pictures of seeds</h1>
    </div>
    <form action="/openwebcam" method="POST">
        <div class="btn">
            <button class="mybtn" role="button" type="submit" value="Camera">Camera</button>
        </div>
    </form>
</body>
</html>